body{
    background-color: black;
    text-align: center;
}

#imgSite{
    width: 1280px;
    height: 720px;
}

h1{
    color: white;
    font-size: 4em;
    margin-top: 25%;
}

img{
    margin-left: auto;
    margin-right: auto;
}

#imgText{
    position :  absolute ;
    top :  20% ;
    left :  30% ;
}

#div_img_site{
    position :  relative ;
}